<header>
    <nav class="navbar sticky-top navbar-expand-lg bg-dark py-4" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="bi bi-slack"></i>
                PYSW 2025
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse me-4" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" aria-current="page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/noticias" routerLinkActive="active" aria-current="page">Noticias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/marcas-autos" routerLinkActive="active" aria-current="page">Marcas de Autos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/conversor" routerLinkActive="active" aria-current="page">Conversor de Monedas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/generar-imagen" routerLinkActive="active" aria-current="page">Generador de Imagenes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/clima" routerLinkActive="active" aria-current="page">Clima</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/convertir-post" routerLinkActive="active" aria-current="page">ConvertirPOST</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>