<div class="container-fluid bg-dark h-auto p-4" data-bs-theme="dark">
    <footer class="d-flex flex-wrap justify-content-between align-items-center border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a routerLink="/">
                <i class="bi bi-slack text-white"></i>
            </a>
            <span class="ms-2  text-white">PYSW 2025</span>
        </div>
        <ul class="nav col-md-4 justify-content-end list-unstyled">
            <li class="ms-3">
                <a class="text-white" href="">
                    <i class="bi bi-instagram fs-5"></i>
                </a>
            </li>
            <li class="ms-3">
                <a class="text-white" href="">
                    <i class="bi bi-facebook fs-5"></i>
                </a>
            </li>
        </ul>
    </footer>
</div>